<div class="master-card">
   <div class="ms-name">
        <h1>Мастер-класс «Милый зверек</h1>
   </div>
   <div class="ms-active"><!-- Активность -->
    <p>Активный</p>
   </div>
   <div class="ms-information"><!-- Информация о мастер-классе -->
      <div class="ms-date">
         <h3>Дата проведения</h3>
         <p>2024-10-14T12:30:00+00:00</p>
      </div>
      <div class="ms-tickets"><!-- Информация о билетах -->
         <h3>Всего билетов:</h3>
         <p>10</p>
         <h3>Билетов куплено:</h3>
         <p>2</p>
      </div> 
   </div>
   
</div>